./.venv
.venv
boxes/
pokemon.py
backup/
mobilenetsmall
resnetv1
casting_data
casting_512x512
testing_adam
resnetv1
img_ftr_layers
__pycache__
deconv_maps
filter_kernals
boxes - Copy
boxes_split
filter_kernels
models
confusion_matrices